.footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    gap: 3px;
    list-style: none;
}


.footer ul li {
    font-weight: 500;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer ul li a.active {

    color: #046e1b;
}