.navbar ul {
    font-size: 20px;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.navbar ul li a.active {
    color: #046e1b;
    background-color: white;
}